*,
::before,
::after {
	box-sizing: border-box
}

body {
	margin: 3.5rem 0 0 0;
	padding: 1rem 1rem 0;
	font-family: Montserrat;
	background-color: white
}

h3 {
	margin: 0
}

a {
	text-decoration: none
}

img {
	max-width: 100%;
	height: auto
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	box-shadow: 0 1px 0 rgba(22, 8, 43, 0.1);
	background-image: url(/assets/breakpoint5-blur.jpg);
	background-position: center;
	background-size: cover;
	height: 20vh;
	z-index: 100
}

#header-head {
	font-size: 6.3rem;
	font-weight: 900;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px
}

.nav {
	position: fixed;
	top: 0;
	left: -100%;
	height: 100vh;
	padding: 1rem 1rem 0;
	background-color: #fff;
	z-index: 100;
	transition: .4s
}

.nav-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: 3rem;
	overflow: auto;
	scrollbar-width: none
}

.nav-container::-webkit-scrollbar {
	display: none
}

.nav-logo {
	font-weight: 600;
	margin-bottom: 2.5rem
}

.nav-list,
.nav-items {
	display: grid
}

.nav-list {
	row-gap: 2.5rem
}

.nav-items {
	row-gap: 1.5rem
}

.nav-link {
	display: flex;
	align-items: center;
	color: #58555e
}

.nav-link:hover {
	color: #4260e4
}

.nav-icon {
	font-size: 1.2rem;
	margin-right: .5rem
}

.nav-name {
	font-size: 1rem;
	font-weight: 500;
	white-space: nowrap
}

.nav-logout {
	margin-top: 5rem
}

.show-menu {
	left: 0
}

.active {
	color: #4260e4
}

.column {
	margin-top: 150px;
	float: left;
	width: 25%;
	padding: 0 10px
}

.column h3 {
	font-size: 1.5rem;
	font-family: Montserrat
}

.column p {
	font-size: 1.2rem;
	font-family: Montserrat
}

.row {
	margin: 0 -5px
}

.row:after {
	content: "";
	display: table;
	clear: both
}

.card1 {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 16px;
	text-align: center;
	background-color: #3b3b3b;
	border-radius: 10px;
	color: #fff
}

.card2 {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 16px;
	text-align: center;
	background-color: #3b3b3b;
	border-radius: 10px;
	color: #fff
}

.card3 {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 16px;
	text-align: center;
	background-color: #3b3b3b;
	border-radius: 10px;
	color: #fff
}

.card4 {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 16px;
	text-align: center;
	background-color: #3b3b3b;
	border-radius: 10px;
	color: #fff
}

.column-two {
	float: left;
	width: 50%;
	padding: 10px;
	height: 300px
}

.column-two h2 {
	color: #000;
	font-family: Montserrat;
	font-size: 2rem
}

.row-two:after {
	content: "";
	display: table;
	clear: both
}

#map {
	height: 400px;
	width: 80%;
	margin-left: 70px
}

@media screen and (max-width:320px) {
	.header-search {
		width: 70%
	}
}

@media screen and (min-width:768px) {
	body {
		padding: 1rem 3rem 0 6rem
	}
	.header {
		padding: 0 3rem 0 6rem
	}
	.header-container {
		height: calc(3.5rem+.5rem)
	}
	.header-search {
		width: 300px;
		padding: .55rem .75rem
	}
	.header-toggle {
		display: none
	}
	.header-logo {
		display: block
	}
	.header-img {
		width: 40px;
		height: 40px;
		order: 1
	}
	.nav {
		left: 0;
		padding: 1.2rem 1.5rem 0;
		width: 68px
	}
	.nav-items {
		row-gap: 1.7rem
	}
	.nav-icon {
		font-size: 1.3rem
	}
	.nav-logo-name,
	.nav-name,
	.nav-subtitle,
	.nav-dropdown-icon {
		opacity: 0;
		transition: .3s
	}
	.nav:hover {
		width: 219px
	}
	.nav:hover .nav-logo-name {
		opacity: 1
	}
	.nav:hover .nav-subtitle {
		opacity: 1
	}
	.nav:hover .nav-name {
		opacity: 1
	}
	.nav:hover .nav-dropdown-icon {
		opacity: 1
	}
}

@media screen and (max-width:600px) {
	.column {
		width: 100%;
		display: block;
		margin-bottom: 20px
	}
}